@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

:root{
    --clr-primary-content: rgb(253, 163, 178);
}

#allWrapper{
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#main-hot-content,
#mainLastestList{
    color: white;
}

/* #swiper-hot, */
.widget-main-hd,
.schedule-tabs button,
.top-list,
#showComments,
.cw-list,
.cw--list,
.schedule-tabs .on,
/* .theloai-wrapper, */
.widget-main-body,
.the-loai-comic-wrap,
.widget-comic-hd,
#episode_list,
#chapter-list-tabs .active,
.pre-chapter,
.next-chapter,
.selectChapter
{
    border-radius: 20px;
    box-shadow: 
    12px 12px 2px 1px var(--shadow);
}

.widget-main{
    margin-top: 20px;
}

.cw-list,
.widget-main-body
{
    background-color: var(--clr-br-content);
    padding: 15px 10px;
    margin: 30px 10px;    
    overflow: hidden;
    border-radius: 20px;
}

.cw-list li{
    display: inline-block;
    vertical-align: top;
    margin-left: 13px;

    position: relative;
}

.cw-list-item{
    display: block;
    position: relative;
    width: 210px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 10px;

    background-color: var(--clr-primary-content);
    box-shadow: 
    7px 7px 2px 1px var(--shadow);
    transition: var(--trans-time);
}

.swiper-slide,
.swiper--slide
{
    transition: var(--trans-time);
}

.swiper-slide:hover,
.swiper--slide:hover{
    transform: translateY(-10px);
    margin-bottom: auto;
}

.cw-list-item button{
    /* width: 200px; */
    margin: 10px auto; 
    padding: 5px 25px;
    color: var(--clr-font);
    border-radius: 20px;

    background-color: rgb(1, 83, 72);
    transition: var(--trans-time);
}

.cw-list-item button:hover{
    background-color: rgba(0, 4, 247, 0.2);
}

.cw-list .infor,
.infor{
    color: white;
    width: 100%;
    height: 33px;
    margin-left: 0px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.link-chapter-wrap{
    display: flex;
    height: 60px;
    padding-left: 10px;
    white-space: nowrap;
}

.link-chapter-wrap .viewer{
    padding-top: 15px;
    padding-left: 20px;
}

.link-chapter-wrap .viewer::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900; 
    content: "\f06e";
    margin-right: 10px;

    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* .link-chapter{
    z-index: 200;
} */

/* removeItem */
.removeItem
{
    display: flex;
}

.removeItem button.remove
{
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-10px);

    height: 40px;
    width: 50%;
    background-color: rgb(1, 83, 72);
    border-radius: 20px;
    box-shadow: 5px 5px 2px 1px var(--shadow);

    transition: var(--trans-time);
}

.removeItem button.remove:hover
{
    box-shadow: none;
}

.removeItem i
{
    color: var(--clr-font);
}
/*  */

.widget-main{
    position: relative;
    margin-top: 30px;
}

.widget-main-inner{

    background-color: red;
}

/*  */

#mainLastestList{
    height: 965px;
}

#manhwaLastestList,
#novelLastestList{
    height: 540px;
}

#rankList{
    height: 945px;
}

.main-comment{
    height: 740px;
}

.main-type{
    height: 280px;
}

.banner{
    height: 120px;
}

/*  */

#main-hot-content,
.main-hot-content{
    border: 2px solid black;
    height: 485px;
    background-color: var(--clr-hot-banner);
}

.widget-main-inner{
    /* position: absolute; */
    height: 0;
    width: calc(100% - 10%);
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
/* title */
.widget-main-hd{
    position: relative;
    padding: 0;
    margin: 20px 0;
    background-color: var(--clr-br-title);
    border-radius: 20px;

    display: flex;
}

.widget-main-hd h3,
.widget-main-hd a{
    margin: 8px;
    color: white;
}

.widget-main-hd h3{
    flex-grow: 0.97;
    text-align: left;
    font-weight: 800;
}

.widget-main-hd .h3-before{
    height: 20px;
    width: 80px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.more{
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
}

/* swiper slide */
/* mainHotList */
#swiper-hot{
    height: 370px;
    /* margin-top: 90px; */
    padding-top: 10px;
    overflow: hidden;
}

li.swiper--slide{
    width: 200px;
    margin-right: 30px;
}

div.swiper--slide{
    width: 200px;
    text-align: center;
}

.swiper--slide a{
    display: flex;
    flex-direction: column;
}

.swiper--slide .comic--img,
.swiper--slide .infor{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.swiper--slide .comic--img{
    width: 100%;
    height: 300px;
}

.swiper--slide .infor{
    height: 45px;
    padding: 5px;
    margin: 5px 0;
}

/*  */

.swiper-slide-wrapper:nth-of-type(1){
    margin-left: 20px;
}

.swiper-slide a{
    display: flex;
    flex-direction: column;
}

.swiper-slide img,
.rank--img{
    height: 210px;
    width: 150px;
    border-radius: 10px;
}

.swiper-slide span{
    text-align: center;
    color: black;
}

/* swiper btn */
.swiper-button-next,
.swiper-button-prev{
    position: absolute;
    width: 70px;
    height: 272px;
    transform: translateY(-272px);
    background-color: rgb(47, 15, 51);
    opacity: 0.2;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.4s;
}

.swiper-button-next::before,
.swiper-button-prev::before{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    content: "\f054";
    font-size: 80px;
    margin-top: 70px;

    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.swiper-button-prev::before{
    transform: rotate(180deg);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    opacity: 0.35;
}

.swiper-button-next{
    right: 0;
}

/*  */
.widget-main-body{
    overflow: hidden;
}

.main-comic-list{
    display: flex;
    flex-wrap: wrap;
    transform: translateY(5%);
    margin-left: 0px;
    /* margin-top: 50px; */
}

.main-comic-list span,
.swiper-slide-wrapper span{
    color: white;
}


.main-comic .comic--img{
    height: 300px;
    width: 100%;
}
/* manhwa list */

/* rank */

.schedule-tabs{
    margin-bottom: 30px;
    justify-content: space-between;
}

.tab {
    color: var(--clr-hot-banner);
    font-weight: 800;
}

.on{
    color: white;
}

.schedule-tabs li{
    width: 32%;
}

.schedule-tabs button{
    height: 70px;
    width: 100%;
    background-color: transparent;

    box-shadow: none;
    border: none;
    font-size: 22px;
    text-transform: uppercase;

    /* transition: var(--trans-time); */
}   

.schedule-tabs button:active{
    border: none;
}

.schedule-tabs .on{
    border-radius: 40px;
    border: none;
    background-color: var(--clr-primary-content);
}

.top-list{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--clr-br-content);
    justify-content: space-between;
    
    padding: 20px 0;
    /* height: 800px; */
}

.top-list .top-item{
    display: inline-flex;
    width: 48%;
    height: 220px;
    /* border: 2px solid black; */
    margin: 10px 0 10px 20px;
}

.top-list .top-item .txt{
    margin: 10px 20px 50px;
    text-align: left;
    color: white;
    text-transform: uppercase;
    width: 60%;
}

.top-item .txt .title{
    font-size: 23px;
}

.top-list .top-item .views{
    font-size: 19px;
}

.top-list .top-item .txt span{
    color: var(--clr-font-sub);
}

.top-list .top-item .status img{
    height: 30px;
}

.schedule-tabs{
    display: flex;
}

/* tab-content */

.top-manga{
    display: none;
}

.top-manga-on{
    display: block;
}


/*  */

#showComments{
    padding: 30px;
    background-color: var(--clr-br-content);
    /* background-color: red; */
}

#showComments li{
    display: flex;
    height: 100%;
    margin-bottom: 10px;
    /* background-color: rgb(253, 163, 178); */
}

#showComments i{
    font-size: 19px;
    transition: var(--trans-time);
}

#showComments .fa-heart{
    color: rgb(134, 18, 38);
}

#showComments .fa-comment{
    color: var(--clr-font);
}

#showComments .fa-flag{
    color: var(--clr-font-sub);
}

#showComments i:hover{
    font-size: 22px;
}

.detail-list-comment-cover{
    height: 100%;
    border-radius: 50%;
    margin-right: 30px;
    overflow: hidden;
}

.detail-list-comment-title{
    display: flex;
    color: var(--clr-font-title);
}

.detail-list-comment-title span{
    flex-grow: 1;
    text-align: right;
}

.detail-list-comment-title span:first-child{
    text-align: left;
}

.detail-list-comment-infor{
    text-align: left;
    flex-grow: 1;
}

.detail-list-comment-infor p{
    margin: 0;
}

.detail-list-comment-content{
    background-color: var(--clr-primary-content);
    color: white;
    padding: 7px;
    font-size: 20px;
    border-radius: 10px;
    margin: 0;
}

#showComments .chan span{
    color: white;
    padding: 2px;
}

.chan{
    text-align: right;
}

.theloai-wrapper a{
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* our team */
.aboutus{
    height: 3120px;
}

.our-team{
    margin: 0 50px;
    position: relative;
    margin-bottom: 50px;
}

.our-team h2{
    margin-bottom: 100px;
}

.aboutus h2,
.aboutus h1{
    color: var(--clr-font);
    font-weight: 800;
    font-size: 50px;
    font-family: 'Neucha', cursive;
}

.aboutus h1{
    font-size: 70px;
    padding: 30px 0;
}

.our-team h3{
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 10px;
}

.member-img,
.member-infor{
    margin-top: -50px;
}

.member-img{
    width: 150px;
    height: 150px;
    background-color: white;
    z-index: 1;
    position: relative;
    border-radius: 50%;
    box-shadow: 
    inset 10px -10px 2px 1px var(--shadow);
}

.member-img.right {
    margin-left: auto;
}

.member-infor{
    width: 85%;
    height: 200px;
    transform: translate(10%, -25%);
    background: white;
    text-align: left;
    padding-left: 100px;
    border-radius: 20px;

    position: relative;
}

/* .member-infor.right {
    text-align: right;
    padding-right: 120px;
}

.member-infor.right .infor{
    transform: translateX(140px);
} */

.our-team .one{
    background-image: url(../img/member/my.jpg);
    background-size: cover;
}

.our-team .two{
    background-image: url(../img/member/quynh.jpg);
    background-size: cover;
}

.our-team .three{
    background-image: url(../img/member/phuc.jpg);
    background-size: cover;
}

.our-team .four{
    background-image: url(../img/member/hao.jpg);
    background-size: cover;
}

.member-infor .infor{
    color: var(--clr-second-font);
    overflow: unset;
    width: 80%;
    white-space: normal;
}

.member-infor span{
    font-weight: bold;
}

.member-infor .contact-us{
    position: absolute;
    right: 50px;
    bottom: 30px;
}

.member-infor .contact-us img{
    height: 35px;
    border-radius: 50%;
}

/* colors */
.colors{
    display: flex;
    justify-content: space-around;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.colors-wrap{
    margin-bottom: 100px;
}

.colors-wrap h2{
    margin-bottom: 50px;
}

.color{
    height: 200px;
    width: 200px;
    border-radius: 50%;

    box-shadow: 12px 12px 2px 1px var(--shadow);
}

.colors .one{
    background-color: var(--clr-font);
}

.colors .two{
    background-color: var(--clr-second-font);
}

.colors .three{
    background-color: var(--clr-primary-content);
}

.colors .four{
    background-color: var(--clr-main-nav);
}

/* source */
.sources-wrap .source{
    height: 550px;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: cover;
}

.sources-wrap .one{
    background-image: url(../img/source-img/001.jpg);
}

.sources-wrap .two{
    background-image: url(../img/source-img/002.png);
}

/*  */
footer{
    position: relative;
}

.foot{
    height: 600px;
    background-color: gray;
}
@media all and (min-width: 1200px){
    .theloai-wrapper .theloai-list{
        margin: 30px;
    }
    #showComments li img{
        margin-top: 0;
        height: 6rem;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px){
    .theloai-wrapper .theloai-list{
        margin: 40px;
    }
    #showComments li img{
        margin-top: 0;
        height: 6rem;
    }
}

@media all and (max-width: 1500px) and (min-width: 1200px){
    .swiper--slide .comic--img{
        height: 250px;
        width: 180px;
    }
}