::before, ::after{
    box-sizing: border-box;
}

:root{
    --clr-slideshow: transparent;
    --clr-btn: black;
    --clr-bar: rgb(252, 203, 181);
}

.slide-container{
    height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    overflow: hidden;

    background-color: var(--clr-slideshow);
    transition: 0.4s;
}

.slidebar{
    height: 100%;
    position: relative;
}

/* slide */
.slides{
    height: 100%;
}

#slide{
    height: 100%;
}

/* slide btn */
.slidebar :is(.left-btn, .right-btn){
    height: 100%;
    width: 100px;
    /* top: 45%; */
    background-color: var(--clr-btn);
    opacity: 0.05;
    transition: 0.3s;
    border: 2px solid transparent;

    position: absolute;
}

.left-btn{
    left: 0em;
    /* border-radius: 50px; */
}
.right-btn{
    right: 0em;
    /* border-radius: 50px; */
}

.left-btn:hover,
.right-btn:hover{
    opacity: 0.1;
    cursor: pointer;
}

.left-btn::before,
.right-btn::before{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    font-size: 60px;
    color: white;
    

    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.left-btn::before{
    content: "\f053";
}

.right-btn::before{
    content: "\f054";
}

.uk-dotnav li a{
    color: aliceblue;
    height: 20px;
    width: 20px;
    background-color: pink;
}

.uk-dotnav > .uk-active > a{
    background-color: var(--clr-font);
}

@media (max-width: 1240px){
    .slide-container{
        height: 500px;
    }
}
@media (max-width: 990px){
    .slide-container{
        height: 350px;
    }
}